@tailwind base;

body {
    overflow-x: hidden
}

@tailwind components;
@tailwind utilities;

.hideSidebar {
    transform: translateX(100%);
    opacity: 0;
}

.showSidebar {
    transform: translateX(0%);
}